{% extends "layout.html" %}
{% block body %}
<div class="card card-body">
        
    <form action="" method="POST">
      <div class="form-group">
        <input class="form-control" type = "text" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password"/>
      </div>
      
      
      
      <button class="btn btn-primary btn-block">
        Login
      </button>
    </form>
</div>


{% endblock %}