{% extends "layout.html" %}
{% block body %}
<div class="card card-body my-3" style="opacity: 0.9;">
        
    <form action="/register_doghouse" method="POST">
      <!-- <div class="form-group">
        <input class="form-control" type = "text" name="dogname" placeholder="Dog name">
      </div> -->
      <div class="form-group">
        <input class="form-control" type = "email" name="email" placeholder="Doghouse owner email">
      </div>
      <div class="form-group">
        <input class="form-control" type = "number" name="price" placeholder="Price">
      </div>
      <div class="form-group">
        <input class="form-control" type = "number" name="meters" placeholder="Size (in meters)">
      </div>
      <div class="form-group">
        <label class="form-group">Are dangerous dogs allowed?</label>
        <input  type = "radio" id = "Yes" name="allow_dangerous_dogs" value="Yes">
        <label class="form-group" for="Yes">Yes</label>
        <input  type = "radio" id = "No" name="allow_dangerous_dogs" value="No">
        <label class="form-group" for="No">No</label>
      </div>
      <div class="form-group">
        <label class="form-group">Are toys there to play with?</label>
        <input type = "radio" id = "Yes" name="has_toys" value="Yes">
        <label class="form-group" for="Yes">Yes</label>
        <input type = "radio" id = "No" name="has_toys" value="No">
        <label class="form-group" for="No">No</label>
      </div>
      <div class="form-group">
        <label class="form-group">Is it carpeted?</label>
        <input  type = "radio" id = "Yes" name="is_carpeted" value="Yes">
        <label class="form-group" for="Yes">Yes</label>
        <input  type = "radio" id = "No" name="is_carpeted" value="No">
        <label class="form-group" for="No">No</label>
      </div>
      
      
      
      <button class="btn btn-primary btn-block">
       Register this doghouse
      </button>
    </form>
</div>


{% endblock %}